@tailwind base;
@tailwind components;
@tailwind utilities;


.bgColor {
    /* background-color: #101014d9; */
    background-color: #101014;
}

body {
    background-color: rgb(16 15 20);
}


/*SwiperHome */



@media (max-width:1200px) {
    .mySwiperHome {
        height: 600px !important;
    }
    .mySwiperHome .swiper-wrapper{
        height: 450px !important;
    }

    .mySwiperHome .swiper-slide {
        width: 260px !important;
        height: 420px !important;
    }

    .mySwiperHome .swiper-button-next,
    .mySwiperHome .swiper-button-prev {
        top: 300px !important;
    }
}

@media (max-width:767px) {
    
    .mySwiperHome .swiper-button-next,
    .mySwiperHome .swiper-button-prev {
        top: 500px !important;
    }

    .mySwiperHome .swiper-slide {
        height: 400px !important;
    }
}


.mySwiperHome {
    margin-top: 50px;
    height: 650px;
    user-select: none;
}

.mySwiperHome .swiper-wrapper {
    margin-top: 30px;
    height: 550px;
}


.mySwiperHome .swiper-slide {
    width: 400px;
    height: 520px;
    border-radius: 20px !important;
    overflow: hidden;
    border: 1px solid white;
}


.mySwiperHome .swiper-button-next,
.mySwiperHome .swiper-button-prev {
    top: 300px ;
    user-select: none;
    color: white;

}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 30px !important;
}

.mySwiperHome .swiper-button-next {
    right: 10% !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
}



.mySwiperHome .swiper-button-prev {
    left: 10% !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;

}



/*mySwiperServices */



@media (max-width:1200px) {
    .mySwiperServices {
        height: 550px !important;
    }
    .mySwiperServices .swiper-wrapper{
        height: 350px !important;
    }

    .mySwiperServices .swiper-slide {
        width: 260px !important;
        height: 350px !important;
    }

    .mySwiperServices .swiper-button-next,
    .mySwiperServices .swiper-button-prev {
        top: 450px !important;
    }
}

@media (max-width:767px) {
    .mySwiperServices .swiper-button-next,
    .mySwiperServices .swiper-button-prev {
        top: 450px !important;
    }
}


.mySwiperServices {
    margin-top: 50px;
    height: 700px;
    user-select: none;
}

.mySwiperServices .swiper-wrapper {
    margin-top: 30px;
    height: 550px;
}


.mySwiperServices .swiper-slide {
    width: 350px;
    height: 550px;
    border-radius: 20px !important;
    overflow: hidden;
    border: 1px solid white;
}


.mySwiperServices .swiper-button-next,
.mySwiperServices .swiper-button-prev {
    top: 320px ;
    user-select: none;
    color: white;

}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 30px !important;
}

.mySwiperServices .swiper-button-next {
    right: 10% !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
}



.mySwiperServices .swiper-button-prev {
    left: 10% !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;

}
